/* 
CSS SYNTAX
selector {
    property: value;
}
 */
 
 /* Universal Selector */
 *{
    font-family: 'Roboto', sans-serif;
    }

 /* Type Selector */
 h1, p{
     font-family: 'Montserrat', sans-serif;
 }


/* ID Selector */
 #profile{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
body{
    background-color: #CCA585;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg fill-opacity='0.71'%3E%3Crect fill='%23CCA585' width='11' height='11'/%3E%3Crect fill='%23cda685' x='10' width='11' height='11'/%3E%3Crect fill='%23cda686' y='10' width='11' height='11'/%3E%3Crect fill='%23cea786' x='20' width='11' height='11'/%3E%3Crect fill='%23cea887' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23cfa887' y='20' width='11' height='11'/%3E%3Crect fill='%23d0a988' x='30' width='11' height='11'/%3E%3Crect fill='%23d0aa88' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d1ab88' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23d1ab89' y='30' width='11' height='11'/%3E%3Crect fill='%23d2ac89' x='40' width='11' height='11'/%3E%3Crect fill='%23d3ad8a' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23d3ad8a' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23d4ae8b' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23d4af8b' y='40' width='11' height='11'/%3E%3Crect fill='%23d5af8c' x='50' width='11' height='11'/%3E%3Crect fill='%23d6b08c' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23d6b18c' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23d7b18d' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23d7b28d' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23d8b38e' y='50' width='11' height='11'/%3E%3Crect fill='%23d9b48e' x='60' width='11' height='11'/%3E%3Crect fill='%23d9b48f' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23dab58f' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23dab690' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23dbb690' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23dbb791' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23dcb891' x='70' width='11' height='11'/%3E%3Crect fill='%23ddb991' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23ddb992' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23deba92' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23debb93' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23dfbb93' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23e0bc94' x='80' width='11' height='11'/%3E%3Crect fill='%23e0bd94' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23e1be95' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23e1be95' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23e2bf96' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23e2c096' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23e3c096' x='90' width='11' height='11'/%3E%3Crect fill='%23e3c197' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23e4c297' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23e5c398' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23e5c398' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23e6c499' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23e6c599' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23e7c59a' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23e7c69a' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23e8c79b' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23e9c89b' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23e9c89c' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23eac99c' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23eaca9d' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23ebcb9d' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ebcb9e' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23eccc9e' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23eccd9f' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23edce9f' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23edcea0' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EECFA0' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
#landing{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
